.header-nav{
  display: flex;
  height: 60px;
  background: #111f2a;
  width: 100%;
  min-width: 1200px;
  color: #ffffff;
  align-items: center;
}
.header-nav a{
  padding:0 20px;
  line-height: 36px;
  color: #ffffff;
}
.header-nav a:link,.header-nav a:visited,.header-nav a:hover,.header-nav a:active{
  text-decoration: none;
}
.header-nav a:hover{
  color: #20a0ff;
}