*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
.app{
  display: flex;
  flex-direction: column;
  height: 100%;
  .main-layout{
    background: #ffffff;
    flex: 1;
    overflow: auto;
    border: 20px solid #F3F1F1;
  }
}