$pr:#20a0ff;
$se:#111f2a;
$success:#60cb70;
$orange: #ff7e00;
$blue:#3aaafc;
$lightBule:#3ac;
$red: #fe5140;
$font-color: #656565;
$btn-red: #ea3d3d;
$delete-red:#FE5140 ;
$textColor:#E6F2FA ;
$borderColor: #d6d6d6;
$border: #dcdcdc;
$white:#ffffff;
$borderRadius: 4px;
$lineHeight:36px;

$largeFont:28px;
$bigFont:18px;
$normalFont:16px;
$smallFont:14px;
$tinyFont:12px;
$textFont:12px;